body {
  background-color: black;
  color: white;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

.logo {
  font-size: 34px;
  font-weight: 700;
  color: white;
}
.logo__color {
  color: #da1755;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 40px;
  }
}
.btn {
  font-size: 24px;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  border: 1px solid #da1755;
  position: relative;
  display: inline-block;
  color: white;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: transform 0.5s;
  background: transparent;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 25px 10px rgba(249, 0, 77, 0.4);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(249, 0, 77, 0.4), transparent);
  transition: all 650ms;
  animation-name: btnAnimation;
  animation-duration: 10000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(249, 0, 77, 0.4), transparent);
  transition: all 650ms;
}

.btn:hover:after {
  left: -100%;
}

@media screen and (min-width: 1200px) {
  .btn {
    font-size: 30px;
  }
}
@keyframes btnAnimation {
  0% {
    left: -100%;
  }
  30% {
    left: -100%;
  }
  40% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
.background {
  width: 100%;
  height: 100vh;
  background: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
}

.primary-header {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 20px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 860px) {
  .primary-header {
    font-size: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .primary-header {
    font-size: 44px;
    margin-bottom: 40px;
    max-width: 750px;
  }
}
.icon-checked {
  width: 30px;
  height: 30px;
  fill: #da1755;
}

.container {
  min-width: 320px;
  max-width: 650px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.big-container {
  min-width: 320px;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.container--wrap {
  max-width: 860px;
}

@media screen and (min-width: 860px) {
  .container--flex {
    display: flex;
  }
  .container {
    max-width: 880px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
  .container-desktop-flex {
    display: flex;
  }
  .container--wrap {
    max-width: 1300px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.footer-headers {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-headers {
    text-align: normal;
    font-size: 38px;
    margin-bottom: 20px;
  }
}
.menu-toggle {
  border: none;
  background: transparent;
  margin-left: auto;
  width: 32px;
  height: 32px;
}
.menu-toggle__icon {
  fill: #ffffff;
  width: 34px;
  height: 34px;
}

.nav {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  place-items: center;
}
.nav__list {
  margin-left: auto;
  display: none;
  padding-top: 8px;
  gap: 15px;
}
.nav__link {
  font-size: 14px;
  font-weight: 500;
}
.nav__btn {
  display: none;
  margin-right: 0;
  font-size: 14px;
  margin-top: 10px;
}

.nav__link {
  color: #ffffff;
  display: flex;
  position: relative;
  display: flex;
  transition: all 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
  padding: 10px;
  will-change: transform;
  font-weight: 600;
}
.nav__link:hover, .nav__link:focus {
  transform: scale(1.21);
  color: #da1755;
}

.nav__link:after,
.nav__link:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
}

.nav__link:after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.nav__link:before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.nav__link:hover::before,
.nav__link:hover::after {
  width: 10px;
  height: 10px;
  border-color: #da1755;
}

@media screen and (min-width: 860px) {
  .nav__list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-toggle {
    display: none;
  }
  .nav__btn {
    display: block;
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: auto;
    padding-top: 8px;
    gap: 40px;
  }
  .nav__link {
    font-size: 19px;
    font-weight: 500;
  }
  .nav__btn {
    font-size: 26px;
  }
}
.hero {
  margin-top: -77px;
  padding-top: 170px;
  padding-bottom: 150px;
  width: 100%;
  max-height: 620px;
  background: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
}
.hero__header {
  font-size: 28px;
  font-weight: 700;
  max-width: 270px;
  line-height: 1.3;
}
.hero__content {
  max-width: 270px;
  font-size: 14px;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 1.7;
}
.hero__btn {
  margin: 0;
}

@media screen and (min-width: 440px) {
  .hero__header {
    max-width: 310px;
  }
  .hero__content {
    max-width: 310px;
  }
}
@media screen and (min-width: 860px) {
  .hero {
    margin-top: -91px;
  }
  .hero__header {
    font-size: 38px;
    font-weight: 700;
    max-width: 470px;
    line-height: 1.3;
  }
  .hero__content {
    max-width: 370px;
  }
  .hero__btn {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-height: 100vh;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__header {
    font-size: 44px;
    font-weight: 700;
    max-width: 670px;
    line-height: 1.3;
  }
  .hero__content {
    max-width: 600px;
    font-size: 22px;
  }
  .hero__btn {
    margin: 0;
  }
}
.about-me {
  background-color: #191919;
}
.about-me__subheader {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 40px;
}
.about-me__benefits {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  gap: 8px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}
.about-me__main-content {
  font-size: 17px;
  margin-top: 20px;
  max-width: 550px;
  line-height: 1.35;
  margin-left: auto;
  margin-right: auto;
}
.about-me__btn {
  margin-top: 40px;
  margin-bottom: 20px;
}
.about-me__img {
  width: 100%;
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
}
.about-me__figcaption {
  display: none;
}

@media screen and (min-width: 860px) {
  .about-me__figure {
    margin-left: 30px;
    max-width: 440px;
    margin-top: 30px;
  }
  .about-me__btn {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about-me__benefits {
    color: #ffffff;
    font-size: 26px;
    font-weight: 500;
    display: flex;
    gap: 8px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .about-me__main-content {
    font-size: 21px;
  }
  .about-me__img {
    width: 100%;
    border-radius: 8px;
    position: relative;
    width: 100%;
    object-fit: cover;
    opacity: 0.85;
    scale: 1.15;
    transition: opacity 0.25s, scale 0.35s;
  }
  .about-me__figure {
    margin-top: 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    max-width: 550px;
    max-height: 550px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
  }
  .about-me__figure:hover .about-me__figcaption::before {
    opacity: 1;
    scale: 1;
  }
  .about-me__figure:hover .about-me__figcaption-content, .about-me__figure:hover .about-me__figcaption-title, .about-me__figure:hover .about-me__socials-list {
    opacity: 1;
    translate: 0;
  }
  .about-me__figure:hover .about-me__img {
    opacity: 0.3;
    scale: 1;
  }
  .about-me__figcaption {
    position: absolute;
    inset: 0;
    padding: 50px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    justify-content: center;
  }
  .about-me__figcaption::before {
    content: "";
    position: absolute;
    inset: 20px;
    border: 2px solid #fff;
    opacity: 0;
    scale: 1.25;
    transition: opacity 0.25s, scale 0.25s;
  }
  .about-me__figcaption-title {
    font-size: 38px;
    opacity: 0;
    translate: -25px;
    transition: opacity 0.25s, translate 0.25s;
  }
  .about-me__figcaption-content {
    font-size: 24px;
    opacity: 0;
    translate: -25px;
    transition: opacity 0.25s, translate 0.25s;
  }
  .about-me__socials-list {
    display: flex;
    gap: 15px;
    opacity: 0;
    translate: -25px;
    transition: opacity 0.25s, translate 0.25s;
    padding-top: 10px;
  }
  .about-me__socials-list::before {
    display: block;
    position: absolute;
    content: "";
    width: 204px;
    height: 3px;
    background: #101010;
    left: 0px;
    top: 70px;
    box-shadow: 1px 1px 10px 5px rgba(249, 0, 77, 0.4);
  }
  .about-me__socials-link {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    border: 3px solid #da1755;
    background-color: transparent;
    will-change: transform;
    animation: float 5s ease-in-out infinite;
  }
  .about-me__socials-link:hover, .about-me__socials-link:focus {
    box-shadow: 0 0 20px #da1755;
    transform: scale(1.1);
    border: 3px solid #da1755;
  }
  .about-me__social-icon {
    fill: #da1755;
    width: 35px;
    height: 35px;
  }
}
.mix-mastering {
  background-color: #101010;
}
.mix-mastering__video {
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 24px -11px rgb(249, 0, 77);
  -moz-box-shadow: 0px 10px 24px -11px rgb(249, 0, 77);
  box-shadow: 0px 10px 24px -11px rgb(249, 0, 77);
  margin-top: 30px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mix-mastering__content {
  max-width: 550px;
  margin-top: 10px;
  font-size: 22px;
  line-height: 1.35;
  margin-left: auto;
  margin-right: auto;
}
.mix-mastering__question {
  font-size: 30px;
  font-weight: 600;
  max-width: 550px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.mix-mastering__list {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}
.mix-mastering__benefits {
  max-width: 550px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}
.mix-mastering__icon-checked {
  max-width: 30px;
  height: 30px;
  fill: #da1755;
  margin-top: 2px;
}
.mix-mastering__btn {
  margin-top: 25px;
}

@media screen and (min-width: 860px) {
  .mix-mastering__content {
    padding-top: 40px;
    font-size: 28px;
    font-weight: 600;
    position: relative;
    padding-left: 40px;
  }
  .mix-mastering__content::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 103%;
    background: #da1755;
    left: 15px;
    top: 15px;
    box-shadow: 1px 1px 15px 5px rgba(249, 0, 77, 0.4);
  }
  .mix-mastering__question {
    font-size: 28px;
  }
  .mix-mastering__benefits {
    font-size: 16px;
  }
  .mix-mastering__content-box {
    margin-top: 25px;
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .mix-mastering__content {
    padding: 0;
    margin: 0;
    font-size: 20px;
  }
  .mix-mastering__content::before {
    display: none;
  }
  .mix-mastering__question {
    font-size: 24px;
    margin-left: 0;
    margin-top: 20px;
  }
  .mix-mastering__list {
    margin-left: 0;
  }
  .mix-mastering__benefits {
    font-size: 16px;
  }
  .mix-mastering__content-box {
    max-width: 700px;
    flex-direction: column;
  }
  .mix-mastering__video {
    width: 100%;
    margin: 0;
  }
  .mix-mastering__btn {
    margin-top: 20px;
  }
  .desktop-video-box {
    max-width: 550px;
    padding-top: 20px;
    margin-right: 40px;
    display: flex;
    place-items: center;
  }
}
.studio {
  background-color: #191919;
}
.studio__img {
  cursor: pointer;
  margin-top: 30px;
  width: 100%;
}
.studio__content-box {
  width: 100%;
}
.studio__content {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 1.35;
  width: 90%;
}
.studio__benefits {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  gap: 4px;
}
.studio__btn {
  margin-top: 15px;
}
.studio__icon {
  width: 30px;
  height: 30px;
  fill: #da1755;
}

@media screen and (min-width: 860px) {
  .studio__content-box {
    padding-top: 10px;
  }
  .studio__img {
    width: 50%;
  }
  .studio__content {
    font-size: 20px;
  }
  .studio__benefits {
    font-size: 18px;
  }
  .studio__btn {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .studio__content-box {
    padding-top: 30px;
    padding-left: 40px;
  }
  .studio__content {
    font-size: 28px;
  }
  .studio__benefits {
    font-size: 22px;
  }
  .studio__img {
    width: 50%;
  }
  .studio__btn {
    margin-top: 0;
  }
}
.mobile-menu {
  transform: translatex(-120%);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #101010;
  padding-top: 50px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  transition: transform 0.4s ease-in-out;
  z-index: 6;
}

.mobile-menu.active {
  transform: translatex(0%);
}

.mobile-menu-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
  right: 15px;
  border: none;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 2px solid #da1755;
  background: transparent;
}
.mobile-menu-btn__icon {
  width: 22px;
  height: 22px;
  fill: #da1755;
}

.mobile-nav-list__link {
  font-size: 34px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.7;
  position: relative;
}

.mobile-contacts-list {
  margin-top: auto;
  margin-bottom: 22px;
}
.mobile-contacts-list__link {
  font-size: 26px;
  color: #757575;
  font-weight: 600;
  line-height: 1.5;
}

.mobile-menu-socials-list {
  display: flex;
  gap: 14px;
  margin-bottom: 70px;
}
.mobile-menu-socials-list::after {
  display: block;
  position: absolute;
  content: "";
  width: 204px;
  height: 3px;
  background: #101010;
  left: 29px;
  bottom: 60px;
  box-shadow: 1px 1px 10px 5px rgba(249, 0, 77, 0.4);
}
.mobile-menu-socials-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #da1755;
  animation: float 5s ease-in-out infinite;
}
.mobile-menu-socials-list__icon {
  width: 32px;
  height: 32px;
  fill: #da1755;
}

.opinions-section {
  background-color: #101010;
}
.opinions-section__content-box {
  background-color: #28282b;
  border-radius: 12px;
  background: #272525;
  padding: 28px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 3px 11px -6px rgb(218, 23, 85);
  -moz-box-shadow: 0px 3px 11px -6px rgb(218, 23, 85);
  box-shadow: 0px 3px 11px -6px rgb(218, 23, 85);
}
.opinions-section__img {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.opinions-section__content {
  font-size: 20px;
  line-height: 1.25;
  margin-top: 20px;
  margin-bottom: 20px;
}
.opinions-section__reviewer {
  font-size: 20px;
}
.opinions-section__btn {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
  display: block;
}

@media screen and (min-width: 860px) {
  .opinions-section__content-box {
    max-width: 390px;
  }
  .opinions-section__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .opinions-section__content-box {
    max-width: 607px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: all 300ms;
    cursor: pointer;
    font-size: 12px;
  }
  .opinions-section__content-box:hover {
    transform: scale(1.03);
    -webkit-box-shadow: 0px 3px 11px -6px rgb(218, 23, 85);
    -moz-box-shadow: 0px 3px 11px -6px rgb(218, 23, 85);
    box-shadow: 0px 3px 11px -6px rgb(218, 23, 85);
  }
  .opinions-section__list {
    justify-content: center;
    gap: 35px;
  }
  .opinions-section__content {
    font-size: 24px;
  }
}
.page-footer {
  background-color: #191919;
  display: flex;
  place-items: center;
}

.footer-contacts-section__logo {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.footer-contacts-section__list {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.footer-contacts-section__address {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}
.footer-contacts-section__link {
  display: block;
  margin-top: 10px;
  color: #757575;
  font-size: 26px;
  transition: color 0.2s ease-in-out;
}
.footer-contacts-section__link:hover {
  color: #da1755;
}

.footer-socials-section {
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer-socials-section__list {
  display: flex;
  gap: 10px;
  justify-content: center;
  position: relative;
  padding-top: 10px;
}
.footer-socials-section__list::after {
  display: block;
  position: absolute;
  content: "";
  width: 224px;
  height: 3px;
  background: #101010;
  left: 27px;
  top: 75px;
  box-shadow: 1px 1px 10px 5px rgba(249, 0, 77, 0.4);
}
.footer-socials-section__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  border: 3px solid #da1755;
  box-shadow: 0 0 10px #da1755;
  transform: scale(1.1);
  background-color: transparent;
  will-change: transform;
  animation: float 5s ease-in-out infinite;
  transition: box-shadow 0.3s;
}
.footer-socials-section__link:hover {
  box-shadow: 1px 1px 25px 5px rgba(249, 0, 77, 0.4);
}
.footer-socials-section__social-icon {
  width: 40px;
  height: 40px;
  transition: 0.5s;
  fill: #da1755;
}

.float-delay1 {
  animation-delay: 1s;
}

.float-delay2 {
  animation-delay: 2s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
.footer-nav-section {
  margin-top: 20px;
}
.footer-nav-section__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  place-items: center;
}
.footer-nav-section__link {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  color: #757575;
  transition: color 0.2s ease-in-out;
}
.footer-nav-section__link:hover {
  color: #da1755;
}

@media screen and (min-width: 768px) {
  .page-footer__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 95px;
    row-gap: 40px;
  }
  .footer-contacts-section {
    margin-left: auto;
  }
  .footer-socials-section {
    margin-right: auto;
    margin-left: auto;
  }
  .footer-socials-section__list::after {
    left: 5px;
  }
  .footer-nav-section {
    margin-right: auto;
    margin-top: 0;
  }
  .footer-nav-section__list {
    gap: 1px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 155px;
    row-gap: 0px;
  }
  .footer-contacts-section__logo {
    text-align: start;
  }
  .footer-contacts-section__list {
    gap: 5px;
    place-items: start;
  }
  .footer-socials-section {
    margin-top: 0px;
  }
  .footer-socials-section__list {
    gap: 20px;
  }
  .footer-socials-section__list::after {
    left: 27px;
  }
  .footer-nav-section {
    margin-top: 0px;
  }
  .footer-nav-section__list {
    padding-left: 15px;
    gap: 5px;
    place-items: start;
  }
  .footer-nav-section__link {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    color: #757575;
  }
}
.mix-hero {
  padding-top: 150px;
  padding-bottom: 50px;
  background-image: url(../images/background9.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -70px;
}
.mix-hero__subheader {
  font-size: 18px;
  text-align: center;
  background-color: #da1755;
  max-width: 190px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0px;
  border-radius: 12px;
  margin-bottom: 10px;
}
.mix-hero__header {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  line-height: 1.3;
}
.mix-hero__content {
  font-size: 16px;
  font-weight: 500;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 1.3;
  text-align: center;
}
.mix-hero__btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.mix-hero__img {
  width: 100%;
  margin-top: 40px;
}

@media screen and (min-width: 860px) {
  .mix-hero {
    margin-top: -91px;
  }
  .mix-hero__subheader {
    font-size: 24px;
    max-width: 260px;
  }
  .mix-hero__header {
    font-size: 44px;
    font-weight: 700;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.3;
  }
  .mix-hero__content {
    font-size: 24px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .mix-hero__img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .mix-hero {
    padding-top: 200px;
    padding-bottom: 120px;
  }
  .mix-hero__subheader {
    margin-bottom: 30px;
    margin-left: 0;
  }
  .mix-hero__header {
    font-size: 44px;
    font-weight: 700;
    max-width: 670px;
    line-height: 1.3;
    margin: 0;
    text-align: start;
  }
  .mix-hero__content {
    max-width: 600px;
    font-size: 22px;
    text-align: start;
    margin-left: 0;
  }
  .mix-hero__btn {
    margin: 0;
    border: 2px solid #da1755;
    display: none;
  }
  .mix-hero__img {
    width: 50%;
    margin-top: -50px;
  }
}
.mix-benefits {
  background-color: #101010;
}
.mix-benefits__header {
  max-width: 600px;
  padding: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.mix-benefits__subheader {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  color: #757575;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}
.benefits-list__item {
  display: flex;
  flex-direction: column;
  place-items: center;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.benefits-list__icon {
  width: 50px;
  height: 50px;
  fill: #da1755;
}
.benefits-list__header {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}
.benefits-list__content {
  text-align: center;
  font-size: 16px;
}

@media screen and (min-width: 860px) {
  .mix-benefits {
    background-color: #101010;
  }
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .benefits-list__item {
    margin: 0;
  }
  .benefits-list__icon {
    width: 50px;
    height: 50px;
    fill: #da1755;
  }
  .benefits-list__header {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .benefits-list__content {
    text-align: center;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .mix-benefits__header {
    max-width: 700px;
  }
  .mix-benefits .benefits-list {
    max-width: 100%;
    justify-content: center;
    gap: 100px;
  }
  .mix-benefits .benefits-list__item {
    max-width: 450px;
  }
  .mix-benefits .benefits-list__icon {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  .mix-benefits .benefits-list__icon:hover {
    transform: scale(1.15);
  }
}
.mix-offer {
  background-color: #101010;
}
.mix-offer__subheader {
  text-align: center;
  background-color: #da1755;
  max-width: 300px;
  padding: 7px 0px;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.mix-offer__header {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.mix-offer__img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.mix-offer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.mix-offer-list__item {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  place-items: center;
}
.mix-offer-list__icon {
  width: 60px;
  height: 60px;
  fill: #da1755;
  transition: transform 0.3s;
  cursor: pointer;
}
.mix-offer-list__icon:hover {
  transform: scale(1.15);
}
.mix-offer-list__header {
  font-size: 26px;
  text-align: center;
  margin-bottom: 10px;
}
.mix-offer-list__content {
  text-align: center;
  font-size: 16px;
}

@media screen and (min-width: 860px) {
  .mix-offer__img {
    width: 80%;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .mix-offer__img {
    width: 50%;
    margin-top: 0px;
  }
  .mix-offer-list {
    justify-content: flex-start;
  }
  .mix-offer-list__item {
    max-width: 267px;
    gap: 10px;
  }
  .mix-offer-list__item__icon {
    width: 60px;
    height: 60px;
    fill: #da1755;
  }
  .mix-offer-list__item__header {
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
  }
  .mix-offer-list__item__content {
    text-align: center;
    font-size: 16px;
  }
}
.collaboration {
  background-color: #191919;
}
.collaboration__subheader {
  text-align: center;
  color: #da1755;
  margin-bottom: 20px;
  font-weight: 500;
}

.collaboration-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.collaboration-list__item {
  max-width: 490px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}
.collaboration-list__item::before {
  content: "1 ";
  font-size: 20px;
  font-weight: 500;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #da1755;
  border-radius: 4px;
  position: absolute;
}
.collaboration-list__header {
  padding-left: 40px;
  margin-bottom: 6px;
}
.collaboration-list__content {
  padding-left: 40px;
  color: #757575;
}

.collaboration-list__item:nth-child(2)::before {
  content: "2";
}

.collaboration-list__item:nth-child(3)::before {
  content: "3";
}

.collaboration-list__item:nth-child(4)::before {
  content: "4";
}

@media screen and (min-width: 860px) {
  .collaboration__subheader {
    font-size: 22px;
  }
  .collaboration-list__item {
    max-width: 390px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .collaboration__subheader {
    font-size: 24px;
    margin-top: -20px;
    margin-bottom: 40px;
  }
  .collaboration-list__item {
    max-width: 490px;
    margin: 0;
  }
  .collaboration-list__header {
    font-size: 26px;
  }
  .collaboration-list__content {
    font-size: 20px;
    padding-left: 40px;
    color: #757575;
  }
}
.mix-opinions {
  background-color: #191919;
}/*# sourceMappingURL=main.css.map */