.mix-benefits {
  background-color: $backgroundColorTwo;
  &__header {
    max-width: 600px;
    padding: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  &__subheader {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
.benfits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  &__item {
    max-width: 300px;
    &::before {
        background-image: url(../images/icons.svg);
    }
  }
}
