.studio-opinions-content {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 20px;
}
.studio-header {
  margin-bottom: 10px;
}
@media screen and(min-width:1200px) {
  .studio-opinions-content {
    font-size: 24px;
  }
}
