.btn {
  font-size: 24px;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  border: 1px solid $brandColorOne;
  position: relative;
  display: inline-block;
  color: white;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: transform 0.5s;
  background: transparent;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 25px 10px rgba(249, 0, 77, 0.4);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(249, 0, 77, 0.4),
    transparent
  );
  transition: all 650ms;
  animation-name: btnAnimation;
  animation-duration: 10000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(249, 0, 77, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn:hover:after {
  left: 100%;
}
@media screen and(min-width:1200px) {
  .btn {
    font-size: 30px;
  }
}

@keyframes btnAnimation {
  0% {
    left: -100%;
  }
  30% {
    left: -100%;
  }
  40% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}
