.container {
  min-width: 320px;
  max-width: 650px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}
.big-container {
  min-width: 320px;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}
.container--wrap {
  max-width: 860px;
}

@media screen and (min-width: 860px) {
  .container--flex {
    display: flex;
  }
  .container {
    max-width: 880px;
  }
  .container--flex-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
  .container-desktop-flex {
    display: flex;
  }
  .container--wrap {
    max-width: 1300px;
  }
}
