.footer-headers {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-headers {
    text-align: normal;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}
