@media screen and(min-width:1200px) {
  .js-scroll {
    transform: scale(0);

    transition: transform 1s;
  }

  .js-scroll.scrolled {
    transform: scale(1);
  }

  .scrolled.fade-in-bottom {
    animation: fade-in-bottom 0.5s ease-in-out both;
  }
  @keyframes fade-in-bottom {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}
