.about-me {
  background-color: $backgroundColorOne;
  // background-image: url(../images/background7.svg);
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;

  &__subheader {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: $white;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  &__benefits {
    color: $white;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    gap: 8px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
  &__main-content {
    font-size: 17px;
    margin-top: 20px;
    max-width: 550px;
    line-height: 1.35;
    margin-left: auto;
    margin-right: auto;
  }
  &__btn {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  &__img {
    width: 100%;
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
  }
  &__figcaption {
    display: none;
  }
}
@media screen and (min-width: 860px) {
  .about-me {
    &__figure {
      margin-left: 30px;
      max-width: 440px;
      margin-top: 30px;
    }

    &__btn {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
@media screen and (min-width: 1200px) {
  .about-me {
    &__benefits {
      color: $white;
      font-size: 26px;
      font-weight: 500;
      display: flex;
      gap: 8px;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
    &__main-content {
      font-size: 21px;
    }

    &__img {
      width: 100%;
      border-radius: 8px;
      position: relative;
      width: 100%;
      object-fit: cover;
      opacity: 0.85;
      scale: 1.15;
      transition: opacity 0.25s, scale 0.35s;
    }

    &__figure {
      cursor: pointer;
      position: relative;
      overflow: hidden;
      margin-top: 20px;
      max-width: 550px;
      max-height: 550px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 12px;
      &:hover .about-me__figcaption::before {
        opacity: 1;
        scale: 1;
      }
      &:hover .about-me__figcaption-content,
      &:hover .about-me__figcaption-title,
      &:hover .about-me__socials-list {
        opacity: 1;
        translate: 0;
      }
      &:hover .about-me__img {
        opacity: 0.3;
        scale: 1;
      }
    }
    &__figcaption {
      position: absolute;
      inset: 0;
      padding: 50px;
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
      justify-content: center;

      &::before {
        content: "";
        position: absolute;
        inset: 20px;
        border: 2px solid #fff;
        opacity: 0;
        scale: 1.25;
        transition: opacity 0.25s, scale 0.25s;
      }
    }
    &__figcaption-title {
      font-size: 38px;
      opacity: 0;
      translate: -25px;
      transition: opacity 0.25s, translate 0.25s;
    }
    &__figcaption-content {
      font-size: 24px;
      opacity: 0;
      translate: -25px;
      transition: opacity 0.25s, translate 0.25s;
    }

    &__socials-list {
      display: flex;
      gap: 15px;
      opacity: 0;
      translate: -25px;
      transition: opacity 0.25s, translate 0.25s;
      padding-top: 10px;
      &::before {
        display: block;
        position: absolute;
        content: "";
        width: 204px;
        height: 3px;
        background: $backgroundColorTwo;
        left: 0px;
        top: 70px;
        box-shadow: 1px 1px 10px 5px rgb(249 0 77 / 40%);
      }
    }
    &__socials-link {
      width: 55px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: 0.3s ease-in-out;
      border: 3px solid $brandColorOne;
      background-color: transparent;
      will-change: transform;
      animation: float 5s ease-in-out infinite;

      &:hover,
      &:focus {
        box-shadow: 0 0 20px $brandColorOne;
        transform: scale(1.1);
        border: 3px solid $brandColorOne;
      }
    }
    &__social-icon {
      fill: $brandColorOne;
      width: 35px;
      height: 35px;
    }
  }
}
