.opinions-section {
  background-color: $backgroundColorTwo;
  &__content-box {
    background-color: $matteBlack;
    border-radius: 12px;
    background: #272525;
    padding: 28px;
    margin-top: 30px;
    -webkit-box-shadow: 0px 3px 11px -6px rgba(218, 23, 85, 1);
    -moz-box-shadow: 0px 3px 11px -6px rgba(218, 23, 85, 1);
    box-shadow: 0px 3px 11px -6px rgba(218, 23, 85, 1);
  }
  &__img {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    border-radius: 50%;

    object-fit: cover;
  }
  &__content {
    font-size: 20px;
    line-height: 1.25;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__reviewer {
    font-size: 20px;
  }
  &__btn {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    display: block;
  }
}
@media screen and (min-width: 860px) {
  .opinions-section {
    &__content-box {
      max-width: 390px;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .opinions-section {
    &__content-box {
      max-width: 607px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      transition: all 350ms;
      cursor: pointer;
      font-size: 12px;
      &:hover {
        transform: scale(1.05);
        -webkit-box-shadow: 0px 3px 11px -6px rgba(218, 23, 85, 1);
        -moz-box-shadow: 0px 3px 11px -6px rgba(218, 23, 85, 1);
        box-shadow: 0px 3px 11px -6px rgba(218, 23, 85, 1);
      }
    }
    &__list {
      justify-content: center;
      gap: 35px;
    }
    &__content {
      font-size: 24px;
    }
  }
}
