.page-footer {
  background-color: $backgroundColorOne;
  display: flex;
  place-items: center;
}
.footer-contacts-section {
  &__logo {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  &__address {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
  }
  &__link {
    display: block;
    margin-top: 10px;
    color: $contentColor;
    font-size: 26px;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: $brandColorOne;
    }
  }
}
.footer-socials-section {
  margin-top: 40px;
  margin-bottom: 40px;

  &__list {
    display: flex;
    gap: 10px;
    justify-content: center;
    position: relative;
    padding-top: 10px;
    &:after {
      position: absolute;
      content: "";
      width: 80%;
      height: 3px;
      background: $backgroundColorTwo;
      left: 25px;
      top: 75px;
      box-shadow: 1px 1px 10px 5px rgb(249 0 77 / 40%);
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    border: 3px solid $brandColorOne;
    box-shadow: 0 0 10px $brandColorOne;
    transform: scale(1.1);
    background-color: transparent;
    will-change: transform;
    animation: float 5s ease-in-out infinite;
  }

  &__social-icon {
    width: 40px;
    height: 40px;
    transition: 0.5s;
    fill: $brandColorOne;
  }
}
.float-delay1 {
  animation-delay: 1s;
}
.float-delay2 {
  animation-delay: 2s;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.footer-nav-section {
  margin-top: 20px;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    place-items: center;
  }
  &__link {
    color: $black;
    font-size: 24px;
    font-weight: 500;
    color: $contentColor;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: $brandColorOne;
    }
  }
}
@media screen and (min-width: 860px) {
  .page-footer {
    &__container {
      display: flex;
      flex-wrap: wrap;
      column-gap: 120px;
      row-gap: 40px;
    }
  }
  .footer-contacts-section {
    margin-left: auto;
  }
  .footer-socials-section {
    margin-right: auto;
    margin-left: auto;
  }
  .footer-nav-section {
    margin-right: auto;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer {
    &__container {
      display: flex;
      flex-wrap: wrap;
      column-gap: 155px;
      row-gap: 0px;
    }
  }
  .footer-contacts-section {
    &__logo {
      text-align: start;
    }
    &__list {
      gap: 5px;
      place-items: start;
    }
  }
  .footer-socials-section {
    margin-top: 0px;

    &__list {
      gap: 20px;
    }
  }
  .footer-nav-section {
    margin-top: 0px;
    &__list {
      padding-left: 15px;
      gap: 5px;
      place-items: start;
    }
    &__link {
      color: $black;
      font-size: 24px;
      font-weight: 500;
      color: $contentColor;
    }
  }
}
