.studio {
  background-color: $backgroundColorOne;

  &__img {
    cursor: pointer;
    margin-top: 30px;

    width: 100%;
  }
  &__content-box {
    width: 100%;
  }
  &__content {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 1.35;
    width: 90%;
  }

  &__benefits {
    color: $white;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    gap: 4px;
  }
  &__btn {
    margin-top: 15px;
  }
  &__icon {
    width: 30px;
    height: 30px;
    fill: $brandColorOne;
  }
}
@media screen and (min-width: 860px) {
  .studio {
    &__content-box {
      padding-top: 10px;
    }

    &__img {
      width: 50%;
    }

    &__content {
      font-size: 20px;
    }

    &__benefits {
      font-size: 18px;
    }
    &__btn {
      margin-top: 0;
    }
  }
}
@media screen and (min-width: 1200px) {
  .studio {
    &__content-box {
      padding-top: 30px;
      padding-left: 40px;
    }
    &__content {
      font-size: 28px;
    }

    &__benefits {
      font-size: 22px;
    }
    &__img {
      width: 50%;
    }
    &__btn {
      margin-top: 0;
    }
  }
}
